.schoo-web-footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 8% 0 7%;
}

.school-web-footer-caption {
    margin-top: 0;
    padding: 5% 0;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}

.school-web-footer-anchor {
    font-size: 15px;
    padding-top: 10%;
}

.footer-anchor {
    display: inline;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
    color: #f3a9d0;
    text-decoration-color: #f3a9d0;
}

.footer-anchor:hover {
    text-decoration: none;
    color: grey;
}

@media only screen and (min-width:'640px') {
    .schoo-web-footer {
        padding: 4% 0 7%;
    }
    .school-web-footer-anchor {
        padding-top: 8%;
    }
}

@media only screen and (min-width:'820px') {
    .schoo-web-footer {
        padding: 2% 0 5%;
    }
    .school-web-footer-anchor {
        padding-top: 6%;
    }
}

@media only screen and (min-width:'1040px') {
    .schoo-web-footer {
        padding: 1% 0 5%;
    }
    .school-web-footer-anchor {
        padding-top: 5%;
    }
}

@media only screen and (min-width:'1440px') {
    .schoo-web-footer {
        padding: 0% 0 5%;
    }
    .school-web-footer-anchor {
        padding-top: 3%;
    }
}